$yellow: #ffff00;
$red: #ff0000;
$lightred: #ec6c6c;
$lightgrey: #c7c7c7;
$darkgrey: #808080;
$grey-black: #3a3b3a;
$lightblue: #add8e6;
$blue: #4e7ce4;
$orange: #f3b23c;
$brown: #a96501;
$green: #92c57a;
$darkgreen: #2e3e26;
$daySky: #4f8aab;
$nightSky: #004771;

@mixin sky($color1, $color2) {
  background: linear-gradient(0deg, $color1 0, $color2);
  background-repeat: no-repeat;
}

@mixin triangle($num) {
  width: 0;
  height: 0;
  border-left: $num solid transparent;
  border-right: $num solid transparent;
  border-bottom: $num solid $lightred;
}

@mixin cookie($image, $size, $margin) {
  background-image: url($image);
  background-repeat: no-repeat;
  width: $size;
  height: $size;
  margin-top: $margin;
}

@mixin sign-writing($color) {
  color: $color;
  font-weight: bold;
}

html,
* {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === APP COMPONENT === */
.App {
  width: 100%;
  min-height: 100vh;

  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.day {
  background: $daySky;
}

.night {
  background: $nightSky;
}

/* === BAKERY COMPONENT  === */

/* row and container  */
.row {
  padding-bottom: 50px;
}

@media (orientation: landscape) and (max-height: 300px) {
  .container,
  .container-fluid {
    margin-top: -30px;
  }
}

/* sun: toggle to moon on click */
.planet {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  position: relative;
  right: -120px;
  top: 40px;

  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  cursor: pointer;
}

.sun {
  background-color: $yellow;
}

.moon {
  background-color: $lightgrey;
}

@media (max-width: 800px), (max-height: 600px) {
  .planet {
    width: 50px;
    height: 50px;
  }
}

@media (orientation: landscape) and (max-width: 700px) {
  .planet {
    top: 90px;
  }
}

@media (max-width: 400px) {
  .planet {
    right: -100px;
  }
}

/* roof */
div.roof {
  @include triangle(250px);
}

@media (max-width: 800px), (max-height: 700px) {
  div.roof {
    @include triangle(150px);
  }
}

@media (max-width: 400px), (max-height: 450px) {
  div.roof {
    @include triangle(110px);
  }
}

/* house body */
div.house-body {
  width: 500px;
  height: 350px;
  background-color: $lightgrey;
}

@media (max-width: 800px), (max-height: 700px) {
  div.house-body {
    width: 300px;
    height: 250px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  div.house-body {
    width: 220px;
    height: 150px;
  }
}

/* windows: transform to cookie img on click */
div.windows {
  width: 100%;
}

.w-element {
  -webkit-transition: 0.2s 0s all linear;
  -moz-transition: 0.2s 0s all linear;
  -o-transition: 0.2s 0s all linear;
  transition: 0.2s 0s all linear;
}

.window {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 25px;

  background-color: $lightblue;
  border: 5px solid $blue;
}

@media (max-width: 800px), (max-height: 700px) {
  .window {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  .window {
    width: 40px;
    height: 40px;
  }
}

.window1 {
  margin-left: 20px;
}

@media (orientation: landscape) and (max-width: 800px) {
  .window1 {
    margin-left: 10px;
  }
}

.window2 {
  margin-right: 20px;
}

@media (orientation: landscape) and (max-width: 800px) {
  .window2 {
    margin-right: 10px;
  }
}

.cookie {
  @include cookie("cookie.png", 80px, 20px);
}

@media (max-width: 400px), (max-height: 450px) {
  .cookie {
    @include cookie("cookie-small.png", 40px, 10px);
  }
}

.cookie1 {
  margin-left: 20px;
}

.cookie2 {
  margin-right: 20px;
}

/* door: post request on click */
div.door {
  width: 140px;
  height: 250px;
  margin-top: 100px;
  background-color: $orange;

  position: absolute;
  cursor: pointer;
}

@media (max-width: 800px), (max-height: 700px) {
  div.door {
    width: 85px;
    height: 150px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  div.door {
    width: 60px;
    height: 100px;
    margin-top: 50px;
  }
}

div.door-handle {
  width: 35px;
  height: 5px;
  margin-left: 5px;
  background-color: $brown;
}

@media (max-width: 400px), (max-height: 450px) {
  div.door-handle {
    width: 25px;
  }
}

/* post request alerts */
.alert {
  top: 20px;
  width: 30%;
  position: absolute;
  z-index: 2;
}

@media (max-width: 600px) {
  .alert {
    width: 40%;
  }
}

@media (max-width: 400px) {
  .alert {
    width: 50%;
  }
}

span.red {
  color: $red;
}

/* mailbox: falls on click */
.mailbox {
  width: 100px;
  height: 90px;
  left: 170px;
  background-color: $darkgrey;

  position: relative;
  -webkit-transition: 0.3s 0s all linear;
  -moz-transition: 0.3s 0s all linear;
  -o-transition: 0.3s 0s all linear;
  transition: 0.3s 0s all linear;
  cursor: pointer;
}

.mailboxWall {
  top: 30px;
}

@media (max-width: 800px), (max-height: 700px) {
  .mailbox {
    width: 95px;
    height: 60px;
    left: 95px;
    margin-top: 10px;
  }

  .mailboxWall {
    top: 0px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  .mailbox {
    width: 65px;
    height: 45px;
    left: 70px;
  }
}

.mailboxFall {
  top: 80px;
}

@media (max-width: 800px), (max-height: 700px) {
  .mailboxFall {
    top: 60px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  .mailboxFall {
    top: 30px;
  }
}

span.mailbox-title {
  @include sign-writing($grey-black);
}

div.mailbox-opening {
  width: 80%;
  height: 10px;
  left: 160px;
  margin-top: 10px;
  background-color: $grey-black;
}

/* bakery cookie sign */
div.sign {
  width: 250px;
  height: 80px;
  margin-top: -50px;
  background-color: $green;
  z-index: 1;
}

@media (max-width: 800px), (max-height: 700px) {
  div.sign {
    width: 200px;
    height: 60px;
    margin-top: -30px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  div.sign {
    width: 150px;
    height: 50px;
    margin-top: -40px;
  }
}

span.sign-writing {
  font-size: 1.5rem;
  @include sign-writing($darkgreen);
}

@media (max-width: 800px), (max-height: 700px) {
  span.sign-writing {
    font-size: 1rem;
  }
}
