$yellow: #ffff00;
$red: #ff0000;
$lightred: #ec6c6c;
$lightgrey: #c7c7c7;
$darkgrey: #808080;
$grey-black: #3a3b3a;
$lightblue: #add8e6;
$blue: #4e7ce4;
$orange: #f3b23c;
$brown: #a96501;
$green: #92c57a;
$darkgreen: #2e3e26;
$daySky1: #cfd9df;
$daySky2: #4f8aab;
$nightSky1: #1e323e;
$nightSky2: #004771;

@mixin triangle($num) {
  width: 0;
  height: 0;
  border-left: $num solid transparent;
  border-right: $num solid transparent;
  border-bottom: $num solid $lightred;
}

@mixin writing($color) {
  color: $color;
  font-weight: bold;
}

@mixin sky($color1, $color2) {
  background: linear-gradient(0deg, $color1 0, $color2);
  background-repeat: no-repeat;
}

@mixin cookie($image, $size, $margin) {
  background-image: url($image);
  background-repeat: no-repeat;
  width: $size;
  height: $size;
  margin-top: $margin;
}

html,
* {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === APP COMPONENT === */
.App {
  width: 100%;
  min-height: 100vh;
}

.day {
  @include sky($daySky1, $daySky2);
}

.night {
  @include sky($nightSky1, $nightSky2);
}

/* === BAKERY COMPONENT === */

/* row and container  */
.row {
  padding-bottom: 50px;
}

@media (orientation: landscape) and (max-height: 300px) {
  .container,
  .container-fluid {
    margin-top: -30px;
  }
}

/* sun with toggle to moon */
.planet {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  position: relative;
  right: -120px;
  top: 40px;

  cursor: pointer;
}

.sun {
  background-color: $yellow;
}

.moon {
  background-color: $lightgrey;
}

@media (max-width: 800px), (max-height: 600px) {
  .planet {
    width: 50px;
    height: 50px;
  }
}

@media (orientation: landscape) and (max-width: 700px) {
  .planet {
    top: 90px;
  }
}

@media (max-width: 400px) {
  .planet {
    right: -100px;
  }
}

/* roof */
div.roof {
  @include triangle(250px);
}

@media (max-width: 800px), (max-height: 700px) {
  div.roof {
    @include triangle(150px);
  }
}

@media (max-width: 400px), (max-height: 450px) {
  div.roof {
    @include triangle(110px);
  }
}

/* house body */
div.body {
  width: 500px;
  height: 350px;
  background-color: $lightgrey;
}

@media (max-width: 800px), (max-height: 700px) {
  div.body {
    width: 300px;
    height: 250px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  div.body {
    width: 220px;
    height: 150px;
  }
}

/* windows */
div.windows {
  width: 100%;
}

.window {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: $lightblue;
  border: 5px solid $blue;
  margin-top: 25px;
}

@media (max-width: 800px), (max-height: 700px) {
  .window {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  .window {
    width: 40px;
    height: 40px;
  }
}

.window1 {
  margin-left: 20px;
}

@media (orientation: landscape) and (max-width: 800px) {
  .window1 {
    margin-left: 10px;
  }
}

.window2 {
  margin-right: 20px;
}

@media (orientation: landscape) and (max-width: 800px) {
  .window2 {
    margin-right: 10px;
  }
}

.cookie {
  @include cookie("cookie.png", 80px, 20px);
}

@media (max-width: 400px), (max-height: 450px) {
  .cookie {
    @include cookie("cookie-small.png", 40px, 10px);
  }
}

@media (max-width: 600px) {
  .cookie {
    margin-top: 0;
  }
}

.cookie1 {
  margin-left: 15px;
}

.cookie2 {
  margin-right: 15px;
}

@media (max-width: 600px) {
  .cookie1 {
    margin-left: 0;
  }

  .cookie2 {
    margin-right: 0;
  }
}

/* door */
div.door {
  background-color: $orange;
  width: 140px;
  height: 250px;
  position: absolute;
  margin-top: 100px;
  cursor: pointer;
}

@media (max-width: 800px), (max-height: 700px) {
  div.door {
    width: 85px;
    height: 150px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  div.door {
    width: 60px;
    height: 100px;
    margin-top: 50px;
  }
}

div.door-handle {
  background-color: $brown;
  width: 50px;
  height: 10px;
}

@media (max-width: 400px), (max-height: 450px) {
  div.door-handle {
    width: 25px;
  }
}

/* mailbox (fixed to the wall & falling)*/
.mailbox {
  width: 100px;
  height: 90px;

  background-color: $darkgrey;
  position: relative;
  cursor: pointer;
}

.mailboxWall {
  top: 30px;
  left: 170px;
}

@media (max-width: 800px), (max-height: 700px) {
  .mailbox {
    width: 95px;
    height: 60px;
  }

  .mailboxWall {
    top: 0px;
    left: 95px;
    margin-top: 10px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  .mailbox {
    width: 65px;
    height: 45px;
  }

  .mailboxWall {
    top: 0px;
    left: 70px;
    margin-top: 10px;
  }
}

.mailboxFall {
  top: 80px;
  left: 190px;
}

@media (max-width: 800px), (max-height: 700px) {
  .mailboxFall {
    top: 60px;
    left: 100px;
    margin-top: 10px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  .mailboxFall {
    top: 30px;
    left: 70px;
  }
}

span.mailbox-title {
  @include writing($grey-black);
}

div.mailbox-opening {
  background-color: $grey-black;
  width: 80%;
  height: 10px;
  left: 160px;
  margin-top: 10px;
}

/* bakery cookie sign */
div.sign {
  background-color: $green;
  width: 250px;
  height: 80px;
  z-index: 1;
  margin-top: -50px;
}

@media (max-width: 800px), (max-height: 700px) {
  div.sign {
    width: 200px;
    height: 60px;
    margin-top: -30px;
  }
}

@media (max-width: 400px), (max-height: 450px) {
  div.sign {
    width: 150px;
    height: 50px;
    margin-top: -40px;
  }
}

span.sign-writing {
  font-size: 1.5rem;
  @include writing($darkgreen);
}

@media (max-width: 800px), (max-height: 700px) {
  span.sign-writing {
    font-size: 1rem;
  }
}

/* post request alerts */
.alert {
  top: 20px;
  width: 30%;
  position: absolute;
  z-index: 2;
}

@media (max-width: 600px) {
  .alert {
    width: 40%;
  }
}

@media (max-width: 400px) {
  .alert {
    width: 50%;
  }
}

span.red {
  color: $red;
}

span.close {
  cursor: pointer;
}
